body
{
    /* background-image:url("https://images.unsplash.com/photo-1621468635836-494461c17b64?fm=jpg&w=3000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JlZW4lMjBuYXR1cmFsfGVufDB8fDB8fHww"); */
    background-image: url('background.jpeg');
    background-size: cover;
}
div{
    margin-left:100px;
}
h3{margin-top:100px;
    /* margin-left:100px; */
    margin-bottom: 50px;

    font-weight:400;
    color:rgba(255, 255, 255, 0.578);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
h2{ 
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Text shadow method */
    /* Or using filter method */
    /*filter: blur(2px); */
    
    margin-bottom: 0px;
    padding-bottom:0px;
    border-bottom:0px;
    font-size:40px;
   /* margin-left:100px; */
    font-weight:bold;
    color:rgba(255, 255, 255, 0.808);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{  width:fit-content; 
     /* margin-left:0px; */
    margin-block-start: 0;
    font-size: 70px;
    /* margin-left:100px; */
    font-weight:bolder;
    color:white; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom:10px;
}

.resp{
    height:fit-content;
    width:fit-content; 
        /* margin-left:0px; */
       margin-block-start: 0;
       font-size: 70px;
       /* margin-left:100px; */
       font-weight:bolder;
       color:white; 
       font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       margin-bottom:10px;
   
   
}


.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}